body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#productos, #total, #productosDisponibles {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#productos div, #listaProductos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#productos img, #listaProductos img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

.product-buttons {
    display: flex;
    gap: 5px;
}

.product-buttons button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.product-buttons button:hover {
    background-color: #218838;
}

.product-buttons .delete {
    background-color: #dc3545;
}

.product-buttons .delete:hover {
    background-color: #c82333;
}

#total{
    color: #333;
    font-size: 30px;
    text-align: right
}